.button {
    font-size: 14px;
    font-weight: 500;
    color: #b8d057;
    line-height: 1;
    padding: 12px 32px;
    display: inline-block;
    border: 1px solid transparent;
    background-color: #fff;
    margin-bottom: 10px;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
}

    .button:hover {
        background-color: #333333;
    }

@media only screen and (max-width: 575.98px) {
     .button {
        width: 100%;
    }
}